{% extends "main_temp.html" %}
{% block content %}
<div class="hometext">
	<h1 class="hometitle"> Formula 1 </h1>
	<p>
		Welcome to the un-official Formula 1 fan website where you will get to enjoy the latest updates, news and
		shananigans from your favorite teams & drivers!
	</p>
</div>
<div class="homecards">
	<div class="card m-5" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://i2-prod.dailystar.co.uk/incoming/article27101734.ece/ALTERNATES/s1200c/0_JS267784414.jpg"
					 class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Ricardo & Mclaren relationship "strained"</h5>
					<p class="card-text">Following the recent disappointing results achieved by the Mclaren team, who
						are headed by Aussie driver Daniel Riccardo - inside sources claim relations are "strained"</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card m-5" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://img.redbull.com/images/c_crop,x_842,y_0,h_1080,w_864/c_fill,w_790,h_878/q_auto:low,f_auto/redbullcom/2020/10/13/pvpeavt4ijxaodla2w0f/rb-basement-sessions-christian-horner-art"
					 class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Horner is gunning for the FIA</h5>
					<p class="card-text">Following several conterversies between Mercedes and the FIA, RedBull team boos
						Christian Horner has recently been quoted saying that "the FIA's favor for Mercedes is clearly
						visible". </p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card quote mx-auto">
	<div class="card-header">
		Quote of the week
	</div>

	<div class="card-body">
		<blockquote class="blockquote mb-8">
			<p>"I think it’s time for him (Hamilton) to resign.
				He’s got music, he’s got culture, he loves clothing and the rag trade would be absolutely suitable for
				him.
				I’m sure he’ll be very successful because he’s been earning a huge amount of money — rightfully so
				because he’s been the best of his time."</p>
			<footer class="blockquote-footer">Jackie Stewart, <cite title="Source Title">June 22nd, 2022</cite></footer>
		</blockquote>
	</div>
</div>
<div class="homecards">
	<div class="card m-5" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://pbs.twimg.com/profile_images/1417199679209709577/BGPT5MUk_400x400.jpg"
					 class="img-fluid" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Gasly to stay with AlphaTauri for 2023"</h5>
					<p class="card-text">Alpha Tauri have recently confirmed signing the French driver for the 2023
						season. <br>
						Gasly expressed his disappointment with the failure to transition to RedBull team, saying "the
						timing wasnt right"</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card m-5" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col">
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Mick_Schumacher_-_2019202181015_2019-07-21_Champions_for_Charity_-_1500_-_B70I1535.jpg"
					 class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">"Mick is just a victim of Haas's "typical" downward spiral"</h5>
					<p class="card-text">It has been a dissappointing year for Mick Shumacher, son of the great Michael
						Shumacher. <br>
						When asked for his opinion, Grosjean deflected to blame towards the American team "Haas" and
						poor management.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card quote mx-auto">
	<div class="card-header">
		BREAKING NEWS
	</div>

	<div class="card-body">
		<blockquote class="blockquote mb-8">
			<p> AUDI has recently confirmed its re-entry into Formula 1 as early as the 2026 season! <br>
			According to insider sources, the german auto company has purchased all the older "Sauber" team infrastructure</p>
			<footer class="blockquote-footer"> Markus Duesmann, Audi's CEO <cite title="Source Title">June 15nd, 2022</cite></footer>
		</blockquote>
	</div>
</div>
<div class="homecards">
	<div class="card m-5" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://pbs.twimg.com/profile_images/1417199679209709577/BGPT5MUk_400x400.jpg"
					 class="img-fluid" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Gasly to stay with AlphaTauri for 2023"</h5>
					<p class="card-text">Alpha Tauri have recently confirmed signing the French driver for the 2023
						season. <br>
						Gasly expressed his disappointment with the failure to transition to RedBull team, saying "the
						timing wasnt right"</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card m-5" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col">
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Mick_Schumacher_-_2019202181015_2019-07-21_Champions_for_Charity_-_1500_-_B70I1535.jpg"
					 class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">"Mick is just a victim of Haas's "typical" downward spiral"</h5>
					<p class="card-text">It has been a dissappointing year for Mick Shumacher, son of the great Michael
						Shumacher. <br>
						When asked for his opinion, Grosjean deflected to blame towards the American team "Haas" and
						poor management.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}



